  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
margin: 0;
padding: 0;
}

body{
    background: #081b29;
    color: #ededee;
    font-family: 'poppins', sans-serif;
}
.interface{
width: 100%;
height: 100vh;
color: #00abf0;
position: relative;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px,0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 150px;
    cursor: pointer;
    margin-top: -1%;
    margin-left: -8%;
}

Ul li{
    margin-top: -4%;
}

Ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

Ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #00abf0;
    margin-top: -3%;
}

Ul li a:hover{
    color: #ededee;
   }

   .info{
    margin-left: 7%;
    margin-top: -34%;
   }

   .info h1{
    font-size: 65px;
    color: #00abf0;
   }
   
   .info h3{
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #00abf0;
   }

   .info p{
    font-size: 16px;
    color: #00abf0;
    margin: 10px 0 40px;
   }

   .info span{
    color: #ededee;
   }

   .info a{
    width: 100px;
    height: 25px;   
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #ededee;
    background: #00abf0;
    margin: 10px;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    display: inline-block;
    transition: 3s ease;    
   }

   .info a:hover{
    background: #081b29;
   }

   .image{
    width: 100%;
    height: 60%;
    margin-right: -10%;
    position: absolute;
    right: 100px;
    bottom: 0;
   }

   .image .Grace1{
    position: absolute;
    height: 140%;
    right: -32%;
    transform: translate(-50%);
    bottom: -10%;
   }

   .Links{
    margin-left: 7%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
   }

   .Links h6{
    color: #00abf0;
    font-size: 15px;
   }

   .Links a{
    color: #ededee;
    font-size: 15px;
    display: inline-block;
    justify-content: space-between
   }

   a:hover{
    color: #ededee;
}